<div th:fragment="actionDefFrag(actions, contained)" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <span th:each="res : ${actions}">
        <b>step: </b>
        <span th:if="${res.hasLabel()}">
            <b>, name: </b>
            <span th:narrative="${res.label}"></span>
        </span>
        <span th:if="${res.hasTitle()}">
            <b>, title: </b>
            <span th:narrative="${res.title}"></span>
        </span>
        <span th:if="${res.hasDescription()}">
            <b>, description: </b>
            <span th:narrative="${res.description}"></span>
        </span>
        <span th:if="${res.hasTextEquivalent()}">
            <b>, text: </b>
            <span th:narrative="${res.textEquivalent}"></span>
        </span>

        <!-- Conditions -->
        <span th:each="con : ${res.condition}">
            <b>, condition:, type: </b>
            <span th:narrative="${con.kind.toCode()}"></span>
            <span th:if="${con.hasDescription()}">
                <b>, description: </b>
                <span th:narrative="${con.description}"></span>
            </span>
            <span th:if="${con.hasExpression()}">
                <b>, expression: </b>
                <span th:narrative="${con.expression}"></span>
            </span>
        </span>

        <!-- Activity Definitions -->
        <span th:if="${res.hasActivityDefinition()}">
            <b>, condition: </b>
            <span th:if="${res.activityDefinition.hasReference()}">
                <b>, reference: </b>
                <span th:narrative="${res.activityDefinition.reference}"></span>
                <span th:each="inline : ${contained}">
                    <span th:if="${res.activityDefinition.reference.contains(inline.id)}">
                       <span th:if="${inline.hasName()}">
                            <b>, name: </b>
                            <span th:narrative="${inline.name}"></span>
                        </span>
                        <span th:if="${inline.hasTitle()}">
                            <b>, title: </b>
                            <span th:narrative="${inline.title}"></span>
                        </span>
                        <span th:if="${inline.hasDescription()}">
                            <b>, description: </b>
                            <span th:narrative="${inline.description}"></span>
                        </span>
                        <span th:if="${inline.hasPurpose()}">
                            <b>, purpose: </b>
                            <span th:narrative="${inline.purpose}"></span>
                        </span>
                        <span th:if="${inline.hasUsage()}">
                            <b>, usage: </b>
                            <span th:narrative="${inline.usage}"></span>
                        </span>
                        <span th:each="related : ${inline.relatedArtifact}">
                            <b>, related:, type: </b>
                            <span th:narrative="${related.type.toCode()}"></span>
                            <span th:if="${related.hasDisplay()}">
                                <b>, display: </b>
                                <span th:narrative="${related.display}"></span>
                            </span>
                        </span>
                        <span th:if="${inline.hasCategory()}">
                            <b>, category: </b>
                            <span th:narrative="${inline.category.toCode()}"></span>
                        </span>
                    </span>
                </span>
            </span>
        </span>

        <!-- Action Definitions (Sub actions) -->
        <div style="padding-left: 25px;" th:include="PlandefActiondefComp :: actionDefFrag(${res.actionDefinition}, ${contained})"></div>

        <!-- Trigger Definitions? -->

        <!-- Timing? -->

        <!-- Code? -->
    </span>
</div>