<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <table class="header_table">
        <!-- <tr th:if="${resource.hasId()}" style="vertical-align: top;">
            <th style="background-color:#656565; width:20%" scope="row"><span class="td_label">Id: </span></th><td style="width:80%" colspan="3"  th:narrative="${resource.id}"></td>
        </tr> -->
        <tr th:if="${resource.hasTitle()}" style="vertical-align: top;">
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">eCQM Title</span></td>
            <td style="width:80%" colspan="3"><h1 style="font-size:10px" th:narrative="${resource.title}"></h1></td>
        </tr>
        <th:block th:each="ident, iter : ${resource.identifier}">
            <tr th:if="${ident.type.coding[0].code == 'CMS'}" style="vertical-align: top;">
                <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">eCQM Identifier (Measure Authoring Tool)</span></td>
                <td style="width:30%" th:narrative="${ident.value}"></td>
                <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">eCQM Version number</span></td>
                <td style="width:30%" th:narrative="${resource.version}"></td>
            </tr>
        </th:block>
        <th:block th:each="ident, iter : ${resource.identifier}">
            <tr th:if="${ident.type.coding[0].code == 'NQF'}" style="vertical-align: top;">
                <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">NQF Number</span></td>
                <td style="width:30%" th:narrative="${ident.value}"></td>
                <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">GUID</span></td>
                <td style="width:30%" th:narrative="${resource.url}"></td>
            </tr>
        </th:block>
        <tr>
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Measurement Period</span></td>
            <td style="width:80%" colspan="3" th:narrative="${resource.effectivePeriod.start + ' through ' + resource.effectivePeriod.end}"></td>
        </tr>
        <tr>
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Measure Steward</span></td>
            <td style="width:80%" colspan="3" th:narrative="${resource.publisher}"></td>
        </tr>
        <tr>
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Measure Developer</span></td>
            <td style="width:80%" colspan="3" th:narrative="${resource.publisher}"></td>
        </tr>
        <tr th:if="${resource.hasDescription()}" style="vertical-align: top;">
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Description</span></td>
            <td style="width:80%" colspan="3">
                <div style="width:660px;overflow-x:hidden;overflow-y:auto">
                    <pre th:text="${resource.description}"></pre>
                </div>
            </td>
        </tr>
        <tr th:if="${resource.hasCopyright()}">
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Copyright</span></td>
            <td style="width:80%" colspan="3">
                <div style="width:660px;overflow-x:hidden;overflow-y:auto">
                    <pre th:text="${resource.copyright}"></pre>
                </div>
            </td>
        </tr>
        <tr th:if="${resource.hasDisclaimer()}">
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Disclaimer</span></td>
            <td style="width:80%" colspan="3">
                <div style="width:660px;overflow-x:hidden;overflow-y:auto">
                    <pre th:text="${resource.disclaimer}"></pre>
                </div>
            </td>
        </tr>
        <tr th:if="${resource.hasScoring()}">
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Measure Scoring</span></td>
            <td style="width:80%" colspan="3" th:narrative="${resource.scoring.coding[0].code.substring(0, 1).toUpperCase() + resource.scoring.coding[0].code.substring(1)}"></td>
        </tr>
        <tr th:if="${resource.hasCompositeScoring()}">
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Composite Scoring</span></td>
            <td style="width:80%" colspan="3" th:narrative="${resource.compositeScoring.getText().substring(0, 1).toUpperCase() + resource.compositeScoring.getText().substring(1)}"></td>
        </tr>
        <th:block th:each="types, iter : ${resource.type}" >
            <tr style="vertical-align: top;">
                <td th:if="${iter.index == 0}" th:rowspan="${iter.size}" style="background-color:#656565; width:20%" scope="row"><span class="td_label">Measure Type</span></td>
                <td style="width:80%" colspan="3" th:narrative="${types.coding[0].code.substring(0, 1).toUpperCase() + types.coding[0].code.substring(1)}"></td>
            </tr>
        </th:block>
        <tr th:if="${resource.hasStatus()}" style="vertical-align: top;">
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Status</span></td>
            <td style="width:80%" colspan="3" th:narrative="${resource.status.toString().substring(0, 1).toUpperCase() + resource.status.toString().substring(1).toLowerCase()}"></td>
        </tr>
        <tr th:if="${resource.hasPurpose()}" style="vertical-align: top;">
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Purpose</span></td>
            <td style="width:80%" colspan="3" th:narrative="${resource.purpose}"></td>
        </tr>
        <tr th:if="${resource.hasUsage()}" style="vertical-align: top;" >
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Usage</span></td>
            <td style="width:80%" colspan="3" th:narrative="${resource.usage}"></td>
        </tr>
        <th:block th:each="context, iter : ${resource.useContext}" >
            <tr style="vertical-align: top;">
                <td th:if="${iter.index == 0}" th:rowspan="${iter.size}" style="background-color:#656565; width:20%" scope="row"><span class="td_label">Use Context</span></td>
                <td style="width:80%" colspan="3" th:narrative="${context}"></td>
            </tr>
        </th:block>
        <th:block th:each="topics, iter : ${resource.topic}" >
            <tr style="vertical-align: top;">
                <td th:if="${iter.index == 0}" th:rowspan="${iter.size}" style="background-color:#656565; width:20%" scope="row"><span class="td_label">Topic</span></td>
                <td style="width:80%" colspan="3" th:narrative="${topics}"></td>
            </tr>
        </th:block>
        <th:block th:each="cont, iter : ${resource.contributor}" >
            <tr style="vertical-align: top;">
                <td th:if="${iter.index == 0}" th:rowspan="${iter.size}" style="background-color:#656565; width:20%" scope="row"><span class="td_label">Contributor</span></td>
                <td style="width:80%" colspan="3">
                    <b><span th:narrative="${cont.type.toCode()}"></span>: </b><span th:narrative="${cont.name}"></span>
                </td>
            </tr>
        </th:block>
        <!-- <th:block th:each="lib, iter : ${resource.library}" >
            <tr style="vertical-align: top;">
                <td th:if="${iter.index == 0}" th:rowspan="${iter.size}" style="background-color:#656565; width:20%" scope="row"><span class="td_label">Library</span></td>
                <td style="width:80%" colspan="3">
                    <p th:if="${lib.hasIdentifier()}"><b>identifier: </b><span th:narrative="${lib.identifier}"></span></p>
                    <p th:if="${lib.hasReference()}"><b>reference: </b><span th:narrative="${lib.reference}"></span></p>
                    <p th:if="${lib.hasDisplay()}"><b>display: </b><span th:narrative="${lib.display}"></span></p>
                </td>
            </tr>
        </th:block> -->
        <tr th:if="${resource.hasRiskAdjustment()}">
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Risk Adjustment</span></td>
            <td style="width:80%" colspan="3">
                <div style="width:660px;overflow-x:hidden;overflow-y:auto">
                    <pre th:text="${resource.riskAdjustment}"></pre>
                </div>
            </td>
        </tr>
        <tr th:if="${resource.hasRateAggregation()}" >
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Rate Aggregation</span></td>
            <td style="width:80%" colspan="3">
                <div style="width:660px;overflow-x:hidden;overflow-y:auto">
                    <pre th:text="${resource.rateAggregation}"></pre>
                </div>
            </td>
        </tr>
        <tr th:if="${resource.hasRationale()}">
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Rationale</span></td>
            <td style="width:80%" colspan="3">
                <div style="width:660px;overflow-x:hidden;overflow-y:auto">
                    <pre th:text="${resource.rationale}"></pre>
                </div>
            </td>
        </tr>
        <tr th:if="${resource.hasClinicalRecommendationStatement()}">
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Clinical Recommendation</span></td>
            <td style="width:80%" colspan="3">
                <div style="width:660px;overflow-x:hidden;overflow-y:auto">
                    <pre th:text="${resource.clinicalRecommendationStatement}"></pre>
                </div>
            </td>
        </tr>
        <tr>
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Improvement Notation</span></td>
            <td style="width:80%" colspan="3" th:narrative="${resource.improvementNotation}"></td>
        </tr>
        <th:block th:each="related, iter : ${resource.relatedArtifact}" >
            <tr th:if="${related.hasType() && related.type.toCode() == 'citation' && related.hasCitation()}" style="vertical-align: top;">
                <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Reference</span></td>
                <td style="width:80%" colspan="3">
                    <div style="width:660px;overflow-x:hidden;overflow-y:auto">
                        <pre th:text="${related.citation}"></pre>
                    </div>
                </td>
            </tr>
        </th:block>
        <tr th:each="definition, iter : ${resource.definition}">
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Definition</span></td>
            <td style="width:80%" colspan="3">
                <div style="width:660px;overflow-x:hidden;overflow-y:auto">
                    <pre th:text="${definition}"></pre>
                </div>
            </td>
        </tr>
        <tr th:if="${resource.hasGuidance()}">
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Guidance</span></td>
            <td style="width:80%" colspan="3">
                <div style="width:660px;overflow-x:hidden;overflow-y:auto">
                    <pre th:text="${resource.guidance}"></pre>
                </div>
            </td>
        </tr>
        <th:block th:each="groups, iter : ${resource.group}" >
            <!-- <tr style="vertical-align: top;">
                <th scope="row"><b>Group:</b></th>
                <td>
                    <p style="width:80%" colspan="3"  th:narrative="${groups.identifier}"></p>
                    <p th:if="${groups.hasName()}" style="width:80%" colspan="3" ><b>name: </b><span th:narrative="${groups.name}"></span></p>
                    <p th:if="${groups.hasDescription()}" style="width:80%" colspan="3" ><b>description: </b><span th:narrative="${groups.description}"></span></p>
                </td>
            </tr> -->
            <!-- <tr style="vertical-align: top;">
                <td colspan="2">
                    <table style="margin-bottom: 5px; width: 100%"> -->
                        <th:block th:each="pops, iterp : ${groups.population}">
                            <tr style="vertical-align: top;">
                                <!-- <th th:if="${iterp.index == 0}" th:rowspan="${iterp.size}" scope="row" style="padding-left: 25px;"><b>Population:</b></th> -->
                                <td style="background-color:#656565; width:20%" scope="row"><span class="td_label" th:text="${pops.criteria}"></span></td>
                                <td style="width:80%" colspan="3">
                                    <div style="width:660px;overflow-x:hidden;overflow-y:auto">
                                        <pre th:text="${pops.description}"></pre>
                                    </div>
                                </td>
                                <!-- <td>
                                    <p style="margin-bottom: 5px; padding-left: 25px;" th:narrative="${pops.identifier}"></p>
                                    <p style="margin-bottom: 5px; padding-left: 25px;" th:if="${pops.hasName()}">
                                        <b>name: </b>
                                        <span th:narrative="${pops.name}"></span>
                                    </p>
                                    <p style="margin-bottom: 5px; padding-left: 25px;" th:if="${pops.hasDescription()}">
                                        <b>description: </b>
                                        <span th:narrative="${pops.description}"></span>
                                    </p>
                                    <p style="margin-bottom: 5px; padding-left: 25px;">
                                        <b>criteria: </b>
                                        <span th:narrative="${pops.criteria}"></span>
                                    </p>
                                </td> -->
                            </tr>
                        </th:block>
                        <!-- <th:block th:each="strats, iters : ${groups.stratifier}">
                            <tr style="vertical-align: top;">
                                <th th:if="${iters.index == 0}" th:rowspan="${iters.size}" scope="row" style="padding-left: 25px;"><b>Stratifier:</b></th>
                                <td>
                                    <p style="padding-left: 25px; margin-bottom: 5px;" th:narrative="${strats.identifier}"></p>
                                    <p style="margin-bottom: 5px; padding-left: 25px;" th:if="${strats.hasCriteria()}">
                                        <b>criteria: </b>
                                        <span th:narrative="${strats.criteria}"></span>
                                    </p>
                                    <p style="margin-bottom: 5px; padding-left: 25px;" th:if="${strats.hasPath()}">
                                        <b>path: </b>
                                        <span th:narrative="${strats.path}"></span>
                                    </p>
                                </td>
                            </tr>
                        </th:block> -->
                    <!-- </table>
                </td>
            </tr> -->
        </th:block>
        <!-- <th:block th:each="supples, iter : ${resource.supplementalData}">
            <tr>
                <th th:if="${iter.index == 0}" th:rowspan="${iter.size}" scope="row"><b>Supplemental Data:</b></th>
                <td style="width:80%" colspan="3" >
                    <p style="margin-bottom: 5px;" th:narrative="${supples.identifier}"></p>
                    <p style="margin-bottom: 5px;" th:each="uses : ${supples.usage}">
                        <b>usage: </b>
                        <span th:narrative="${uses}"></span>
                    </p>
                    <p style="margin-bottom: 5px;" th:if="${supples.hasCriteria()}">
                        <b>criteria: </b>
                        <span th:narrative="${supples.criteria}"></span>
                    </p>
                    <p style="margin-bottom: 5px;" th:if="${supples.hasPath()}">
                        <b>path: </b>
                        <span th:narrative="${supples.path}"></span>
                    </p>
                </td>
            </tr>
        </th:block> -->
        <!-- <th:block th:each="param, iter : ${resource.parameter}">
            <tr style="vertical-align: top;">
                <th th:if="${iter.index == 0}" th:rowspan="${iter.size}" scope="row"><b>Parameter: </b></th>
                <td style="width:80%" colspan="3" >
                    <span th:if="${param.hasName()}">
                        <b>name: </b>
                        <span th:narrative="${param.name}"></span>
                        <br/>
                    </span>
                    <b>use: </b>
                    <span th:narrative="${param.use.toCode()}"></span>
                    <br/>
                    <span th:if="${param.hasMin()}">
                        <b>minimum cardinality: </b>
                        <span th:narrative="${param.min}"></span>
                        <br/>
                    </span>
                    <span th:if="${param.hasMax()}">
                        <b>maximum cardinality: </b>
                        <span th:narrative="${param.max}"></span>
                        <br/>
                    </span>
                    <b>type: </b>
                    <span th:narrative="${param.type}"></span>
                    <br/>
                    <span th:if="${param.hasDocumentation()}">
                        <b>documentation: </b>
                        <span th:narrative="${param.documentation}"></span>
                        <br/>
                    </span>
                    <span th:if="${param.hasProfile()}">
                        <b>profile: </b>
                        <span th:narrative="${param.profile}"></span>
                        <br/>
                    </span>
                    <p style="margin-bottom: 5px;"></p>
                </td>
            </tr>
        </th:block> -->
        <!-- <th:block th:each="dataReq, iter : ${resource.dataRequirement}">
            <tr style="vertical-align: top;">
                    <th th:if="${iter.index == 0}" th:rowspan="${iter.size}" scope="row" ><b>Data Requirements: </b></th>
                    <td style="width:80%" colspan="3" th:narrative="${dataReq}"></td>
            </tr>
        </th:block> -->
    </table>
  <h2><a name="toc">Table of Contents</a></h2>
  <ul style="padding-left: 50px;">
   <li><a href="#d1e405">Population Criteria</a></li>
   <li><a href="#d1e649">Definitions</a></li>
   <li><a href="#d1e650">Functions</a></li>
   <li><a href="#d1e555">Terminology</a></li>
   <li><a href="#d1e647">Data Criteria (QDM Data Elements)</a></li>
   <li><a href="#d1e767">Supplemental Data Elements</a></li>
   <li><a href="#d1e879">Risk Adjustment Variables</a></li>
  </ul>
  <div style="float:left; background:teal; height:3px; width:80%"></div>
  <pre><br /></pre>
  <h3><a name="d1e405" href="#toc">Population Criteria</a></h3>
  <div th:each="groups, iter : ${resource.populationStatements}">
   <ul style="list-style:none;padding-left:10px;">
    <li class="list-unstyled" style="list-style:none;padding-left:0px;">
     <div th:each="pops, iterp : ${groups.population}" class="treeview hover p-l-10">
      <ul th:if="${pops.name}" class="list-unstyled">
       <li class="list-unstyled"><input type="checkbox" th:id="${pops.name}" /><label th:for="${pops.name}" class="list-header"><strong th:text="${pops.name}"></strong></label>
        <ul class="code">
         <li class="list-unstyled">
          <div class="treeview hover p-l-10">
           <ul>
            <li style="padding-left: 0px;">
             <div>
              <pre class="cql-definition-body" th:text="${pops.criteria}"></pre>
             </div></li>
           </ul>&nbsp;
          </div></li>
        </ul></li>
      </ul>
     </div></li>
   </ul>
  </div>
  <h3><a name="d1e649" href="#toc">Definitions</a></h3>
  <div th:each="defs, iter : ${resource.definitionStatements}">
   <ul style="list-style:none;padding-left: 10px;">
    <li class="list-unstyled" style="list-style:none;">
     <div>
      <ul class="list-unstyled" style="list-style:none;padding-left:0;">
       <li class="list-unstyled">
        <div class="treeview hover p-l-10">
         <input type="checkbox" th:id="${defs.name}" />
         <label th:for="${defs.name}" class="list-header"><strong th:text="${defs.name}"></strong></label>
         <ul class="code" style="margin-right: 20%; opacity: 1;">
          <li class="list-unstyled">
           <div>
            <ul style="padding-left: 0px;">
             <li style="padding-left: 0px;" class="list-unstyled">
              <div>
               <pre class="cql-definition-body" th:text="${defs.criteria}"></pre>
              </div></li>
            </ul>&nbsp;
           </div></li>
         </ul>
        </div></li>
      </ul>
     </div></li>
   </ul>
  </div>
  <h3><a name="d1e650" href="#toc">Functions</a></h3>
  <div th:each="defs, iter : ${resource.functionStatements}">
   <ul style="list-style:none;padding-left: 10px;">
    <li class="list-unstyled" style="list-style:none;">
     <div>
      <ul class="list-unstyled" style="list-style:none;padding-left:0;">
       <li class="list-unstyled">
        <div class="treeview hover p-l-10">
         <input type="checkbox" th:id="${defs.name}" />
         <label th:for="${defs.name}" class="list-header"><strong th:text="${defs.name}"></strong></label>
         <ul class="code" style="margin-right: 20%; opacity: 1;">
          <li class="list-unstyled">
           <div>
            <ul style="padding-left: 0px;">
             <li style="padding-left: 0px;" class="list-unstyled">
              <div>
               <pre class="cql-definition-body" th:text="${defs.criteria}"></pre>
              </div></li>
            </ul>&nbsp;
           </div></li>
         </ul>
        </div></li>
      </ul>
     </div></li>
   </ul>
  </div>
  <h3><a name="d1e555" href="#toc">Terminology</a></h3>
  <div>
   <ul style="padding-left: 50px;">
    <li th:each="terms, iter : ${resource.terminology}" style="width:80%" th:text="${terms.getDefinition()}"></li>
   </ul>
  </div>
  <h3><a name="d1e647" href="#toc">Data Criteria (QDM Data Elements)</a></h3>
  <div>
    <ul style="padding-left: 50px;">
      <li th:each="data, iter : ${resource.dataCriteria}" style="width:80%" th:text="${data}"></li>
    </ul>
  </div>
  <h3><a name="d1e767" href="#toc">Supplemental Data Elements</a></h3>
  <div th:each="data, iter : ${resource.supplementalDataElements}">
   <ul style="list-style:none;padding-left: 25px;">
    <li class="list-unstyled">
     <div class="treeview hover p-l-10">
      <input type="checkbox" th:id="${data.name}" />
      <label th:for="${data.name}" class="list-header"><strong th:text="${data.name}"></strong></label>
      <ul class="code" style="margin-right: 20%; opacity: 1;">
       <li class="list-unstyled">
        <div>
         <ul style="padding-left: 0px;">
          <li style="padding-left: 0px;" class="list-unstyled">
           <div>
            <pre class="cql-definition-body" th:text="${data.criteria}"></pre>
           </div></li>
         </ul>&nbsp;
        </div></li>
      </ul>
     </div></li>
   </ul>
  </div>
  <h3><a name="d1e879" href="#toc">Risk Adjustment Variables</a></h3>
  <div>
   <ul style="list-style:none;padding-left: 25px;">
    <li>None</li>
   </ul>
  </div>
  <div style="float:left; background:teal; height:3px; width:80%"></div>
  <table>
        <tr th:if="${resource.hasSet()}" >
            <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Measure Set</span></td>
            <td style="width:80%" th:narrative="${resource.set}"></td>
        </tr>
        <th:block th:each="con, iter : ${resource.content}">
            <tr th:if="${con.contentType == 'text/cql'}" style="vertical-align: top;">
                <td style="background-color:#656565; width:20%" scope="row"><span class="td_label">Content</span></td>
                <td style="width:80%" ><b>type: </b><span th:text="${con.contentType}"></span></td>
            </tr>
            <tr th:if="${con.contentType == 'text/cql'}">
                <td style="width:100%" colspan="2" >
                    <th:block th:if="${con.getData() != null }" >
                        <pre><code th:class="${con.contentType == 'text/cql' ? 'language-cql' : 'language-xml'}" th:text="${new java.lang.String(con.getData())}"></code></pre>
                    </th:block>
                    <th:block th:if="${con.getData() == null }" >
                        <span><i>&lt;content is empty&gt;</i></span>
                    </th:block>
                </td>
            </tr>
        </th:block >
    </table>
</div>