<th:block th:if="${not resource.empty}">
    <div>
        <b>type: </b>
        <span th:narrative="${resource.type.toCode()}"></span>
    </div>
    <div th:if="${resource.hasDisplay()}">
        <b>display: </b>
        <span th:narrative="${resource.display}"></span>
    </div>
    <div th:if="${resource.hasUrl()}">
        <b>url: </b>
        <span th:narrative="${resource.url}"></span>
    </div>
    <div th:if="${resource.hasDocument()}">
        <b>document: </b>
        <span th:narrative="${resource.document}"></span>
    </div>
    <div th:if="${resource.hasResource()}">
        <b>resource: </b>
        <div style="padding-left: 25px;" th:narrative="${resource.getResource()}"></div>
    </div>
</th:block>