<th:block th:if="${not resource.empty}">
    <b>context: </b>
    <div style="padding-left: 25px;" th:if="${resource.code.hasSystem()}">
        <b>system: </b>
        <span th:narrative="${resource.code.system}"></span>
    </div>
    <div style="padding-left: 25px;" th:if="${resource.code.hasCode()}">
        <b>code: </b>
        <span th:narrative="${resource.code.code}"></span>
    </div>
    <div style="padding-left: 25px;" th:if="${resource.code.hasDisplay()}">
        <b>display: </b>
        <span th:narrative="${resource.code.display}"></span>
    </div>
    <div style="padding-left: 25px;" th:if="${resource.hasValueCodeableConcept()}">
        <b>concept:</b>
        <div style="padding-left: 25px;" th:narrative="${resource.valueCodeableConcept}"></div>
    </div>
    <div style="padding-left: 25px;" th:if="${resource.hasValueQuantity()}">
        <b>quantity: </b>
        <div style="padding-left: 25px;" th:if="${resource.valueQuantity.hasComparator()}">
            <span th:narrative="${resource.valueQuantity.comparator}"></span>
        </div>
        <div style="padding-left: 25px;" th:if="${resource.valueQuantity.hasValue()}">
            <span th:narrative="${resource.valueQuantity.value}"></span>
        </div>
        <div style="padding-left: 25px;" th:if="${resource.valueQuantity.hasUnit()}">
            <span th:narrative="${resource.valueQuantity.unit}"></span>
        </div>
    </div>
    <div style="padding-left: 25px;" th:if="${resource.hasValueRange()}">
        <b>range: </b>
        <div style="padding-left: 25px;" th:if="${resource.valueRange.hasLow()}">
            <span th:narrative="${resource.valueRange.low}"></span>
        </div>
        <div style="padding-left: 25px;" th:if="${resource.valueRange.hasHigh()}">
            <span th:narrative="${resource.valueRange.high}"></span>
        </div>
    </div>
</th:block>