[submodule "external/hapi-fhir-jpaserver-starter"]
	path = external/hapi-fhir-jpaserver-starter
	url = https://github.com/hapifhir/hapi-fhir-jpaserver-starter.git
[submodule "cqf-ruler"]
    path = cqf-ruler
    url = https://github.com/DBCG/cqf-ruler.git