<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <table class="grid dict">
        <tr th:if="${resource.hasId()}">
            <th scope="row"><b>Id: </b></th>
            <td style="padding-left: 25px; padding-right: 25px;" th:text="${resource.id}"></td>
        </tr>
        <tr>
            <th scope="row"><b>Type: </b></th>
            <td style="padding-right: 25px;" th:narrative="${resource.type}"></td>
        </tr>
        <th:block th:each="ident, iter : ${resource.identifier}">
            <tr style="vertical-align: top;">
                <th th:if="${iter.index == 0}" th:rowspan="${iter.size}"  scope="row"><b>Identifier: </b></th>
                <td style="padding-left: 25px; padding-right: 25px;">
                    <b>system: </b> <span th:text="${ident.system}"></span>
                    <br/>
                    <b>value: </b> <span th:text="${ident.value}"></span>
                </td>
            </tr>
        </th:block>
        <tr  th:if="${resource.hasVersion()}">
            <th scope="row"><b>Version: </b></th>
            <td style="padding-left: 25px; padding-right: 25px;" th:text="${resource.version}"></td>
        </tr>
        <tr th:if="${resource.hasTitle()}">
            <th scope="row"><b>Title: </b></th> 
            <td style="padding-left: 25px; padding-right: 25px;" th:text="${resource.title}"></td>
        </tr>
        <tr th:if="${not resource.status.toCode().empty}">
            <th scope="row"><b>Status: </b></th>
            <td style="padding-left: 25px; padding-right: 25px;" th:text="${resource.status.toCode()}"></td>
        </tr>
        <tr th:if="${resource.hasDescription()}">
            <th scope="row"><b>Description: </b></th>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.description}"></td>
        </tr>
        <tr th:if="${resource.hasPurpose()}">
            <th scope="row"><b>Purpose: </b></th>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.purpose}"></td>
        </tr>
        <tr th:if="${resource.hasUsage()}">
            <th scope="row"><b>Usage: </b></th>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.usage}"></td>
        </tr>
        <th:block th:each="context, iter : ${resource.useContext}">
            <tr>
                <th th:if="${iter.index == 0}" th:rowspan="${iter.size}" scope="row"><b>Use Context: </b></th>
                <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${context}"></td>
            </tr>
        </th:block>
        <th:block th:each="topics, iter : ${resource.topic}">
            <tr style="vertical-align: top;">
                <th th:if="${iter.index == 0}" th:rowspan="${iter.size}" scope="row"><b>Topic: </b></th>
                <td style="padding-right: 25px;" th:narrative="${topics}"></td>
            </tr>
        </th:block>
        <th:block th:each="related, iter : ${resource.relatedArtifact}">
            <tr style="vertical-align: top;">
                    <th th:if="${iter.index == 0}" th:rowspan="${iter.size}"  scope="row"><b>Related: </b></th>
                    <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${related}"></td>
            </tr>
        </th:block>
        <th:block th:each="param, iter : ${resource.parameter}">
            <tr style="vertical-align: top;">
                <th th:if="${iter.index == 0}" th:rowspan="${iter.size}" scope="row"><b>Parameter: </b></th>
                <td style="padding-left: 25px; padding-right: 25px;">
                    <span th:if="${param.hasName()}">
                        <b>name: </b>
                        <span th:narrative="${param.name}"></span>
                        <br/>
                    </span>
                    <b>use: </b>
                    <span th:narrative="${param.use.toCode()}"></span>
                    <br/>
                    <span th:if="${param.hasMin()}">
                        <b>minimum cardinality: </b>
                        <span th:narrative="${param.min}"></span>
                        <br/>
                    </span>
                    <span th:if="${param.hasMax()}">
                        <b>maximum cardinality: </b>
                        <span th:narrative="${param.max}"></span>
                        <br/>
                    </span>
                    <b>type: </b>
                    <span th:narrative="${param.type}"></span>
                    <br/>
                    <span th:if="${param.hasDocumentation()}">
                        <b>documentation: </b>
                        <span th:narrative="${param.documentation}"></span>
                        <br/>
                    </span>
                    <span th:if="${param.hasProfile()}">
                        <b>profile: </b>
                        <span th:narrative="${param.profile}"></span>
                        <br/>
                    </span>
                    <p style="margin-bottom: 5px;"></p>
                </td>
            </tr>
        </th:block>
        <th:block th:each="dataReq, iter : ${resource.dataRequirement}">
            <tr style="vertical-align: top;">
                    <th th:if="${iter.index == 0}" th:rowspan="${iter.size}" scope="row" ><b>Data Requirements: </b></th>
                    <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${dataReq}"></td>
            </tr>
        </th:block>
        <th:block th:each="con, iter : ${resource.content}">
            <tr th:if="${con.contentType == 'text/cql'}" style="vertical-align: top;">
                <th scope="row" ><b>Content: </b></th>
                <td style="padding-left: 25px; padding-right: 25px;"><b>type: </b><span th:text="${con.contentType}"></span></td>
            </tr>
            <tr th:if="${con.contentType == 'text/cql'}">
                <td colspan="2" style="padding-left: 25px; padding-right: 25px;">
                    <th:block th:if="${con.getData() != null }" >
                        <pre><code th:class="${con.contentType == 'text/cql' ? 'language-cql' : 'language-xml'}" th:text="${new java.lang.String(con.getData())}"></code></pre>
                    </th:block>
                    <th:block th:if="${con.getData() == null }" >
                        <span><i>&lt;content is empty&gt;</i></span>
                    </th:block>
                </td>
            </tr>
        </th:block >
    </table>
</div>