<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        metadata-complete="false"
        version="3.1">

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>
            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
        </param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            org.opencds.cqf.common.config.FhirServerConfig,
            org.opencds.cqf.r4.config.FhirServerConfigR4
        </param-value>
    </context-param>

    <!-- Servlets -->
    <!-- <servlet>
        <servlet-name>ViewStatusMessages</servlet-name>
        <servlet-class>ch.qos.logback.classic.ViewStatusMessagesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewStatusMessages</servlet-name>
        <url-pattern>/StatusMessages</url-pattern>
    </servlet-mapping> -->

    <!-- <servlet>
        <servlet-name>LogMessages</servlet-name>
        <jsp-file>/LogMessages.html</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogMessages</servlet-name>
        <url-pattern>/LogMessages</url-pattern>
    </servlet-mapping> -->

    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>org.opencds.cqf.common.config.FhirTesterConfig</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fhirServlet</servlet-name>
        <servlet-class>org.opencds.cqf.r4.servlet.BaseServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>fhirServlet</servlet-name>
        <url-pattern>/fhir/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cds-services</servlet-name>
        <servlet-class>org.opencds.cqf.r4.servlet.CdsHooksServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>cds-services</servlet-name>
        <url-pattern>/cds-services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cds-services</servlet-name>
        <url-pattern>/cds-services/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>cross-origin</filter-name>
        <filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>cross-origin</filter-name>
        <url-pattern>/fhir/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>cross-origin</filter-name>
        <url-pattern>/cds-services/*</url-pattern>
    </filter-mapping> 
</web-app>
